@model IEnumerable<Sprotify.Web.Models.Band>
@{
    ViewData["Title"] = "Bands";
}
<div class="container container-content">
    <div class="row">
        <div class="col-md-12">
            <h2>Bands</h2>
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                                <a asp-controller="Album" asp-action="Index" asp-route-bandId="@item.Id">Albums</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>